
#experiment {
  /****************************************************
   Important!!
   Width and height here need to correspond to the values set in html/setup/constants.js 
   ****************************************************/
  /* width: 900px;
  height: 700px; */
  width: 100%;
  height: 100%;
  position: absolute;
  /*top:0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* margin: auto;
  margin-top: auto; */
  /* position:fixed; */
  top:0px; 
  left:0px;
  right:0px; 
  bottom:0px; 
  border:none; 
  margin:0; 
  padding:0; 
  /* overflow:hidden;  */
  z-index:999999;
}




#loader {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url('../img/loading.gif') 50% 50% no-repeat #E0E0E0;
}

noscript {
  /* z-index: 8000; */
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

#no-cookie-container, #reloader-container, #missing-parameter-container {
  /* z-index: 8000; */
  position: fixed;
  left: 12.5%;
  top: 15%;
  width: 75%;
  background-color: white;
  font-size: 18px;
  text-align: center;

}

#loader p {
  font-family: sans-serif;
  font-size: 22px;
  margin: 24%;
  text-align: center;
}

.wrong-message {
	padding: 10px;
}

.wrong-message h1 {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.wrong-message p {
	font-size: 18px;
	text-align: center;
}

#zoom-message #zoom {
	font-size: 22px;
	text-align: center;
  padding: 10px;
}

#dimension-message #windowsize {
	display: block;
    margin: 0 auto;
}

.legend {
	margin-top: 20px;
	background-color: white;
}

.background {
	background-color: #E0E0E0;
}



h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.slider_title {
	font-size: 22px;
	font-weight: bold;
}

.slider_title p {
  margin-bottom: 8px;
}

.slider_description p {
  margin-bottom: 0px;
}

.slider_instruction {
  position: absolute;
	font-size: 12px;
	text-align: center;
  color: #555555;
  background: #cce5ff;
  border-radius: .25rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 200px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.justification {
	width: 100%;
	height: 50px;
}

.btn_attention {
	margin: 15px 15px;
	width: 150px;
}

.btn-outline-dark:hover {
  color: black!important;
	background-color: white!important;
  outline-color: black!important;
}

.btn-dark:hover {
  color: white!important;
	background-color: black!important;
  outline-color: black!important;
}

.btn-wider {
	padding-left: 50px;
  padding-right: 50px;
  /* width:100%; */
}

.buttonGroup {
	text-align: center;
}

#completion_code {
	font-size: 18px;
	font-weight: bold;
}

/* .consent {
  font-size: 13px;
} */

/* #scroll-warning {
  font-size: 13px;
} */

.cause-a {
  color:#00008B;
  font-weight: bold;
}

.cause-b {
  color:#7f3000;
  font-weight: bold;
}

th {
    font-weight: 500;
}

.likert{
    /*padding:0 5px;*/
    
}

#graph_box {
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="radio"] {
    margin-right: 7px;
}

hr {
    margin: 20px 0;
}

.legend{
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
}

#graph {
    width: 450px;
    display: block;
    margin:auto;
}

.demographics {
    display: block;
    width: 300px;
    padding-right: 50px;
}

#people {
    /*width: 250px;*/
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 22px;
}

.cml_row {
    padding-bottom: 3px;
}
.task-description{
    font-size: 17px;
    margin-top: 25px;
}

.submit input{
    float:right;
    background-color: #EEEEEE;/*#4CAF50; /* Green */
    /*border: none;*/
    /*color: black;*/
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

/* .submit {
    display: none;
} */

#helper-text {
    padding-left: 15px;
    font-size: 14px;
    color: grey;
}

button {
    float:right;
    background-color: #EEEEEE;/*#4CAF50; /* Green */
    /*border: none;*/
    /*color: black;*/
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;

}

textarea {
    margin-bottom: 20px;
    font-size: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: none;
  margin: 0;
}

#why_no {
    width: 690px;
}

input[type=number] { 
  width: 50px;
  /* height: 25px; */
  font-size: 17px;
  text-align: right;
  padding: 2px;
  padding-right: 5px;
  margin-right: 4px;
}

input[type=text] {
    font-size: 15px;
}

.section-header h3{
  color: #032631;
  padding:5px 5px 5px;
}
.section-header h4 {
  color: #032631;
  padding:5px 5px 5px;
}
/* Mobile Friendly */
@media (max-width: 480px) {
  html {
      font-size: 15px; /* 14px */
  }
  
}

/* Start button CSS */
.glow-on-hover {
  width: 80px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* Start button CSS end */


body {
  height: 100%;
  touch-action: pan-x pan-y;
}


/* Left & Right Modal for feedback */
/* 
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: auto;
  margin-top: 36%;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}


.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.left .modal-dialog.modal-lg,
.modal.right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.left .modal-dialog.modal-xl,
.modal.right .modal-dialog.modal-xl {
  width: 1140px;
} */



/* Chrome, Safari, AND NOW ALSO the Edge Browser and Firefox */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  .modal.left .modal-dialog, .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 91%;
    max-width: 100%;
    margin-top: 56px;
  }
} */

/* @-moz-document url-prefix() {
  .modal.left .modal-dialog,
  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    max-width: 100%;
    height: 100%;
    margin-top: 98px;
  }
} */

/* Chrome 29+ */
/* @media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .modal.left .modal-dialog, .modal.right .modal-dialog {
      position: fixed;
      margin: auto;
      width: 91%;
      max-width: 100%;
      margin-top: 56px;
    }
} */

/* Chrome 22-28 */
/* @media screen and(-webkit-min-device-pixel-ratio:0) {
  .modal.left .modal-dialog, .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 91%;
    max-width: 100%;
    margin-top: 56px;
  }
} */

.modal {
  position: fixed;
  top: 140px;
  /* right: 100px;
  bottom: 0;
  left: 0; */
  z-index: 10040;
  overflow: hidden;
  overflow-y: auto;
}

.bigger-font200 { font-size:200%; }

.btn-info:hover,.btn-info:focus,.btn-info:active, 
.btn-info:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: none;
}

.btn-info, 
.btn-info:hover, 
.btn-info:active, 
.btn-info:active:focus, 
.btn-info:visited, 
.btn-info:focus {     
  /* color: #dcdcdc;     
  background-color: #232323;        
  outline: none;  */
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
  box-shadow: none!important;
  outline: none;
}